<ion-header>
  <ion-toolbar color="primary">
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item class="user-item" *ngFor="let user of users" (click)="userDetail(user)">
      <ion-avatar slot="start">
        <img [src]="user.avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{user.getName}} {{user.getSurname}}</h2>
        <p>Age: {{user.age}}</p>
        <p>Email: {{user.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>