<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        User Details
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <div class="avatar-wrapper">
        <img [src]="sanitizedImg" (click)="openCamera()">
        <ion-icon name="camera"></ion-icon>
      </div>
  
      <ion-item>
        <ion-label color="primary" stacked>Name</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.getName"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label color="primary" stacked>Surname</ion-label>
        <ion-input type="text" [(ngModel)]="currentUser.getSurname"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label color="primary" stacked>Age</ion-label>
        <ion-input type="number" [(ngModel)]="currentUser.getAge" [disabled]="isFormVerified"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="currentUser.getEmail" required [disabled]="isFormVerified"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-button shape="round" color="primary" fill="outline" (click)="saveData()">Save</ion-button>
  </ion-content>
  