.avatar-wrapper{
    min-height: 130px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    img{
        height: 100px;
        width: 100px;
        border: 1px solid blue;
    }
    ion-icon{
        width: 20px;
        height: 20px;
        color: grey;
        position: relative;
        left: -22px;
    }
}